<h2>Defy</h2>
<p>Defy(имя сущ.) - бросать вызов</p>
<p>Как давно Вы в последний раз читали книгу или смотрели фильм и думали, что было бы неплохо сделать всё по-другому? Что главному герою лучше не идти в одиночку в заброшенный дом, а вот в той напряжённой ситуации - повести разговор в другое русло?</p>
<p>Или Вы считаете, что авторы никогда по-настоящему не вступают в диалог с читателем, и это Вас разочаровывает?</p>
<p>"Defy" - веб-приложение для взаимодействия с текстовыми(и не очень) квестами даёт возможность придумывать различные пути развития действия в рамках одного сюжета.</p>
<p>Это гораздо более близкий уровень взаимодействия, чем тот, который предоставляют фильмы/книги/посты вконтакте</p>
<h4>*"Defy" - [пока что] лишь тестовое приложение, написанное, в том числе, и для изучения фреймворка Ruby On Rails</h4>